<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MenuMapper">

    <!-- 조회한 컬럼과 DTO의 필드를 매핑(연결) 시키기 위한 설정으로 resultMap을 사용한다. -->
    <!-- Mybatis를 통해 자동 매핑(연결)을 하기 위해서 MenuDTO에는 기본생성자, setter 메소드를 이용한다. (없으면 생성해서 동작함)-->
    <resultMap id="menuResultMap" type="com.ohgiraffers.section01.xmlconfig.MenuDTO">
        <!-- id 태그는 pk에 해당하는 컬럼을 작성 -->
        <id property="menuCode" column="menu_code"/>
        <!-- result 태그는 pk 외의 일반 컬럼을 작성 -->
        <result property="menuName" column="menu_name"/>
        <result property="menuPrice" column="menu_price"/>
        <result property="categoryCode" column="category_code"/>
        <result property="orderableStatus" column="orderable_status"/>
    </resultMap>

    <select id="selectAllMenu" resultMap="menuResultMap">
        SELECT
        menu_code,
        menu_name,
        menu_price,
        category_code,
        orderable_status
        FROM
        tbl_menu
        WHERE
        orderable_status = 'Y'
        ORDER BY
        menu_code
    </select>

    <!-- 조회시 전달 되는 파라미터가 있다면 parameterType 속성을 통해 명시할 수 있다.
     Mybatis에서 사용하는 자바 타입에 대한 별칭을 사용할 수 있다.  ParameterType 은 안써도 동작상에는 문제가없음 -->
    <select id="selectMenuByMenuCode" parameterType="_int" resultMap="menuResultMap">
        SELECT
        menu_code,
        menu_name,
        menu_price,
        category_code,
        orderable_status
        FROM
        tbl_menu
        WHERE
        orderable_status = 'Y'
        AND
        menu_code = #{ menuCode }
    </select>

    <!-- 파라미터로 전달 된 객체의 필드명으로 값을 바인딩 한다. EX. # { menuName }
     insert, update, delete의 경우 resultType or resultMap 속성은 작성하지 않으면 기본_로 수행결과를 반환한다. -->
    <insert id="insertMenu" parameterType="com.ohgiraffers.section01.xmlconfig.MenuDTO">
        INSERT INTO
        tbl_menu (menu_name, menu_price, category_code, orderable_status)
        VALUES
        (#{ menuName }, #{ menuPrice}, #{ categoryCode }, 'Y')
    </insert>

    <update id="uqdateMenu" parameterType="com.ohgiraffers.section01.xmlconfig.MenuDTO">
        UPDATE
        tbl_menu
        SET
        menu_name = #{ menuName },
        menu_price = #{ menuPrice },
        category_code = #{ categoryCode }
        WHERE
        menu_code = #{ menuCode }
    </update>

    <delete id="deleteMenu" parameterType="_int">
        DELETE FROM
        tbl_menu
        WHERE
        menu_code= #{ menuCode }
    </delete>
</mapper>